[Desktop Entry]
Categories=Core;System;Filesystem;X-Red-Hat-Base;
Name=System G: open folder
Comment=File manager (similar to Mac OS 7)
Icon=systemg
Exec=systemg --choose
Type=Application
